<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="ArbitrageMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
    <userSettings>
        <ArbitrageMonitor.Properties.Settings>
            <setting name="Commision" serializeAs="String">
                <value>0.0003</value>
            </setting>
            <setting name="IsHedge" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HedgeIntRate" serializeAs="String">
                <value>0.086</value>
            </setting>
            <setting name="HedgeCode" serializeAs="String">
                <value>510300</value>
            </setting>
            <setting name="Threshold" serializeAs="String">
                <value>0.01</value>
            </setting>
            <setting name="ShowActiveEquity" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ShowActiveBond" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPassiveEquity" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowPassiveBond" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ConnString" serializeAs="String">
                <value>Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=10.190.60.21)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=finchina1)));User Id=caihui;Password=caihui;</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>Oracle</value>
            </setting>
            <setting name="HistoryDataVendor" serializeAs="String">
                <value>CaiHui</value>
            </setting>
            <setting name="RealtimeDataVendor" serializeAs="String">
                <value>Sina</value>
            </setting>
            <setting name="ShowOthers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RefreshFreq" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="ShowActiveHybrid" serializeAs="String">
                <value>False</value>
            </setting>
        </ArbitrageMonitor.Properties.Settings>
    </userSettings>
</configuration>
